<!DOCTYPE HTML>
<html>
	<head>
		<title>Link Sniffer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#">Link Sniffer</a></h1>
					<p>Please copy a url below:</p>
					<form action="">
                        <input type="text">
                        <button class="primary" type="submit" value="Go">Go</button>
                    </form>
				</div>
			</header>

		<!-- One -->
			<section id="one" class="wrapper">
				<header class="major">
					<h2>Your search result:</h2>
				</header>
				
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
				</ul>
				<p class="copyright">&copy; Link Sniffer. 2021.</a></p>
			</footer>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>